[Match]
Name=mgmt

[Network]
DHCP=yes

[Network]
IPv6SendRA=yes
IPv6AcceptRA=true
DHCPv6PrefixDelegation=yes

[DHCPv4]
RouteMetric=500
UseDomains=true
UseDNS=true

[DHCPv6]
RouteMetric=600
PrefixDelegationHint=::/56

[Link]
MACAddress=36:d5:b1:94:cb:52
MTUBytes=9000
