[Match]
Name=eth0
Name=eno1
Name=enp0s25

[Network]
Bond=mgmt-bond
PrimarySlave=true


[Match]
Name=eth1
Name=ens6
Name=enp6s0

[Network]
Bond=mgmt
PrimarySlave=false
