[Match]
Name=data

[Network]
DHCP=yes

[Network]
IPv6SendRA=yes
IPv6AcceptRA=true
DHCPv6PrefixDelegation=yes

[DHCPv4]
RouteMetric=100
UseDomains=true
UseDNS=true

[DHCPv6]
RouteMetric=200
PrefixDelegationHint=::/56


[Link]
MACAddress=7c:fe:90:ff:92:7d
MTUBytes=9000

#Address=10.10.100.13/22
#Gateway=10.10.100.1
#DNS=10.10.100.1
